<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--use the directory special 'static' and 'static' endpoint in url name for file access-->
    <!--style.css access-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <!--use the directory special 'static' and 'static' endpoint in url name for file access-->
    <!--flask-horizontal.webp access-->
    <img src="{{url_for('static', filename='img/flask-horizontal.webp')}}"/>

    <ol>
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </ol>
</body>
</html>