<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<!--use the directory special 'static' and 'static' endpoint in url name for file access-->
    <!--style.css access-->
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
	{% block title %}<h1>User Access</h1>{% endblock %}

	{% block content %}
	<form action="#" method="post">
		<p>Input User:</p>
		<input type="text" name="iuser" />
		<input type="submit" value="login"/>
	</form>
	{% endblock %}
</body>
</html>