<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <!--use the directory special 'static' and 'static' endpoint in url name for file access-->
    <!--flask-horizontal.webp access-->
    <img src="{{url_for('static', filename='img/flask-horizontal.webp')}}"/>
    <h1>Learning Python and Falsk Framework</h1>
    <h3>Wellcome - {{profiles}}</h3>
</body>
</html>